* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --orange: #ff4500;
  --white: #fff;
  --dark-grey: #383636;
  --light-grey: #3f3c3c;
  --black: #272626;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Martian Mono", sans-serif;
  background-image: linear-gradient(var(--light-grey), var(--black));
}

main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 350px;
  padding: 20px;
}

.display {
  display: flex;
  flex-direction: row-reverse;
  padding: 20px 0;
  border-bottom: 1px solid var(--white);
  font-size: 2rem;
  color: var(--white);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.row {
  display: flex;
  gap: 10px;
}

.row button {
  flex: 1;
  padding: 10px;
  border: none;
  font-family: "Martian Mono", sans-serif;
  font-size: 1.5rem;
  background-color: transparent;
  cursor: pointer;
  color: var(--white);
}

.row button:hover {
  background-color: var(--dark-grey);
}

.row .operator,
#equals {
  color: var(--orange);
}

.row .operator:focus {
  background-color: var(--dark-grey);
}

footer {
  padding: 20px;
  text-align: center;
  letter-spacing: 5px;
  line-height: 2;
  font-weight: lighter;
  font-size: small;
}

footer,
footer a {
  color: var(--white);
  border-left: 1px;
}

@media screen and (max-width: 350px) {
  main {
    width: 300px;
  }

  .display {
    font-size: 1.5rem;
  }

  .row button {
    font-size: 1rem;
  }

  footer {
    font-size: x-small;
  }
}

@media screen and (max-width: 300px) {
  main {
    width: 250px;
  }

  footer {
    font-size: xx-small;
  }
}

@media screen and (max-width: 250px) {
  main {
    width: 200px;
  }
}
