* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --black: #141414;
  --dark-purple: #1d0019;
  --light-grey: #585658;
  --purple: #9386ac;
  --white: #eeedee;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  height: 100vh;
  font-family: "Martian Mono", sans-serif;
  background-image: linear-gradient(var(--light-grey), var(--dark-purple));
}

main {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 15px;
  border: 1px solid var(--white);
}

.display {
  display: flex;
  flex-direction: row-reverse;
  padding: 15px 0;
  border-bottom: 1px solid var(--white);
  font-size: 2rem;
  color: var(--white);
}

.buttons {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.row {
  display: flex;
}

.row button {
  flex: 1;
  padding: 15px;
  border: none;
  font-family: "Martian Mono", sans-serif;
  font-size: 1.5rem;
  background-color: transparent;
  cursor: pointer;
  color: var(--white);
  outline: none;
}

.row .operator:focus {
  color: var(--purple);
}

footer {
  padding: 15px;
  font-family: rubik, sans-serif;
  font-weight: lighter;
  letter-spacing: 10px;
  line-height: 1.3;
  text-align: center;
}

footer,
footer a {
  color: var(--white);
}

@media screen and (max-width: 350px) {
  main {
    width: 250px;
  }

  .display {
    font-size: 1.5rem;
  }

  .row button {
    font-size: 1rem;
  }

  footer {
    font-size: smaller;
    letter-spacing: 8px;
  }
}

@media screen and (max-width: 300px) {
  main {
    width: 200px;
  }

  .display {
    font-size: 1rem;
  }

  .buttons {
    padding: 5px;
  }

  footer {
    font-size: x-small;
    letter-spacing: 5px;
  }
}

@media screen and (max-width: 250px) {
  main {
    width: 150px;
  }

  .buttons {
    padding: 0;
  }

  .row button {
    padding: 10px;
  }

  footer {
    letter-spacing: 2px;
  }
}
